.header {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 100px;
  text-align: center;
}

.header .title-main {
  font-size: 100px;
  font-weight: bolder;
}

.header .title-sub {
  font-size: 60px;
  font-weight: bold;
}

.title-img {
  position: absolute;
  z-index: -1;
  width: 100%;
  top : 50%;
  left : 50%;
  transform: translate(-45%, -80%);
}

.body-page1 {
  padding: 5%;
  background-color: white;
}

.body-page1 .body-page1-heading {
  font-size: 25px;
  font-weight: bold;
}

.body-page1-serverlist {
  margin-top: 25px;
  padding-top: 25px;
}

.server-icon {
  float: right;
}

.body-page2 {
  padding: 5%;
  background-color: white;
}

.body-page2 .body-page2-heading {
  font-size: 20px;
  font-weight: bold;
}